*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  width: 100%;
  height: 100%;
  border-top: 7px solid rgba(255, 26, 88, 1);
}
.main2{
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo2{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner2{
  margin-bottom: 20px;
}
.banner2 img{
  width: 100%;
}
.cart2-wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 14px;
}
.cart2{
  border-radius: 4px 4px 32px 4px;
  background-color: rgba(255, 241, 245, 1);
  display: flex;
  flex-basis: 45%;
  flex-grow: 1;
  padding: 10px;
}
.cart2Img img{
  mix-blend-mode: darken;
}
.cart2Info{
  display: flex;
  flex-direction: column;
  gap:16px;
  justify-content: center;
}
.cart2Info h3{
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: rgba(34, 34, 34, 1);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}
.cart2Badge{
  position: relative;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  border-radius: 8px 0 ;
}
.cart2Badge span{
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.cart2Info .cart2Badge{
  background-color: rgba(233, 25, 46, 1);
  padding: 2px 6px 2px 14px;
  width: fit-content;
}
.qar{
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  top: 1px;
  right: 3px;
}




.summary{
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(223, 243, 252, 1);
  border-radius: 6px;
  padding: 16px 0px;
}
.summary-wrap{
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  gap:5px;
  justify-content: space-between;
}
.single-summary{
  text-align: center;
  flex-basis: 30%;
  flex-grow: 1;
}
.single-summary p{
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}
.textArea{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap:25px;
}
.textArea p{
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}
.red-text{
  color: rgba(255, 26, 88, 1);
}
.download-app{
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(241, 242, 247, 1);
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.download-app .text{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.download-app .text h3{
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.download-app .text p{
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: rgba(90, 90, 90, 1);
}
.app-button{
  display: flex;
  gap: 16px;
  justify-content: center;
}
.app-button button{
  border: none;
  cursor: pointer;
}
.app-button button img{
  width: fit-content;
}
.footer{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0;
}
.footer .info{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.footer .info span{
  text-decoration: underline;
}
.social-media-icon{
  display: flex;
  gap: 26px;
  justify-content: center;
}
.social-media-icon img{
  cursor: pointer;
}
.footer .lastMessage{
  color: rgba(113, 113, 113, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}



